{% extends "main_app/base.html" %}

{% block body_block %}


<section>
<div class="row  row-cols-1 row-cols-md-2 g-4">

    {% for category in categories %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ category.title }}</h5>
                <p class="card-text">{{ category.description }}</p>
                <a href="{% url 'courses_in_category' category.title %}">View courses in this category</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

</section>
{% endblock %}