{% extends "main_app/base.html" %} {% block body_block %}
<h2>{{ course.title }}</h2>
<p>{{ course.description }}</p>

<div class="item">
  <p>Teacher: <a href="{% url 'main_app:teacher_page' course.teacher.id %}">{{ course.teacher }} </a></p>
</div>

<p>Release Date: {{ course.release_date }}</p>

<h2>Material</h2>

<h3>Videos:</h3>
{% if course.video_link %}        
  {% with course.video_link|cut:"watch?v=" as embed_link %}       
    <iframe width="560" height="315" src="{{ course.video_link }}" frameborder="0" allowfullscreen></iframe>
  {% endwith %}
{% endif %}
<br>
{% if quiz_exists %}
<h3>Quizes:</h3>
<form method="get" action="{% url 'main_app:quiz_view' url_safe_title %}">
  <button type="submit">{{ course.title }} Quiz</button>
</form>
{% else %}
<p>No quiz available for this course.</p>
{% endif %} 
<br>

{% if assignment_exists %}
    <h3>Assignment:</h3>
    <form method="get" action="{% url 'main_app:assignment_view' course.id %}">
      <button type="submit">{{ course.title }} Assignment</button>
    </form>

{% else %}
    <p>No assignment available for this course.</p>
{% endif %}

<br>

<h3>Enrollment:</h3>
{% if not user_enrolled %}
  <form method="post" action="{% url 'add_course_to_user' course.id %}">
    {% csrf_token %}
    <button type="submit">Enroll in this Course</button>
  </form>
{% else %}
  <p>You are already enrolled in this course.</p>
{% endif %}
<div class="item">
  <p><a href="{% url 'categories' %}">Back to the categories</a></p>
</div>


<style>
  body {
       background-color: rgba(201, 191, 191, 0.801)
      }
  
  .item a {
    text-decoration: none;
    color: #497a0876;
    font-weight: bold;
}

  .item a:hover {
    text-decoration: underline;
}
</style>


{% endblock %}



