{% extends "main_app/base.html" %}

{% block body_block %}
    <center><div class="jumbotron">
        <h1>Please login</h1>
        <form action="{% url 'main_app:user_login' %}" method="post">
            {% csrf_token %}  
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="Enter Username">

            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Enter Password">
            <br>
            <input type="submit" name="" value="Login" class="submit-button">
        </form>
    </div></center>
{% endblock %}
