{% extends "main_app/base.html" %}

{% block body_block %}
<br><br><br>
<div class="container-profile">
    <h1>Welcome {{ user.username }}</h1>
    <h2>Enrolled Courses</h2>
    <ul>
        {% for user_course in enrolled_courses %}
            <li>
                <a href="{% url 'course_page' user_course.course.id %}">{{ user_course.course.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="item">
        <p><a href="{% url 'categories' %}">See all the courses</a></p>
    </div>
    
</div>

<style>
        body {
             background-color: rgba(201, 191, 191, 0.801)
            }
        
        .item a {
          text-decoration: none;
          color: #497a0876;
          font-weight: bold;
      }
      
        .item a:hover {
          text-decoration: underline;
      }
    
    .container-profile  {
        margin-top: 0px;
        background: #c6c9cca1;
        padding: 25px;
        border-radius: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .container-profile h1 {
        font-size: 3.8rem;
        color: #133a2b;
        margin-bottom: 35px;
        text-align: center;
        font-weight: bold;
    }

    .container-profile h2 {
        font-size: 2rem;
        color: #6c757d;
        margin-bottom: 30px;
        text-align: center;
    }

    .container-profile ul {
        list-style-type: none;
        padding: 0;
    }

    .container-profile ul li {
        background: #cac2c29f;
        margin: 10px 0;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .container-profile ul li:hover {
        transform: scale(1.02);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .container-profile ul li a {
        display: block;
        padding: 15px;
        color: black;
        text-decoration: none;
        font-size: 2.0rem;
        border-radius: 5px;
        transition: color 0.3s;
    }

    .container-profile ul li a:hover {
        color: #00b30f37;
    }

    .container-profile p a {
        color: #21644a91;
        text-decoration: none;
        font-size: 1.35rem;
        font-weight: bold;
        transition: color 0.3s;
    }

    .container-profile p a:hover {
        color: #0c331491;
    }
</style>

{% endblock %}
