.navbar {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    background-color: #e2e1ebc7;
}

body {
    background-color: rgb(225, 211, 216);
}
 
.btn
 {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;   
    opacity: 0.8; /* Set the opacity to 80% */
    transition: opacity 0.3s; /* Add a transition for smooth effect */
}

btn-info {
    background-color: #95b6d8;
    color: white;
   
}
 